@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family:Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  text-align:center;
  margin:auto;
}

.board-row {
  display:flex;
  justify-content: center;
}

.btn {
  height:200px;
  width:200px;
  font-size: 50px;
}

.App {
  width:80%;
  margin:auto;
}

.header {
  text-align:center;
  font-size:40px;
  color: #f8c51b;
  text-shadow:
  0 0 7px #f8c51b,
  0 0 10px #f8c51b,
  0 0 21px #f8c51b,
  0 0 42px #f8c51b,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #f8c51b;
}

.hide {
  display:none;
};